body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(248, 248, 248), rgb(249, 212, 184));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #555;
}

a.button {
    padding: 0.8em 1.5em;
    background-color: #111;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

a.button:hover {
    background: #444;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
        padding: 0 1em;
    }

    a.button {
        padding: 0.6em 1.2em;
        font-size: 1em;
    }

    body {
        padding: 1em;
        min-height: 100vh;
        justify-content: center;
    }
}